# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# data files
data/*.csv